<section class="categories">

  <div class="card">
    <div class="c-img">
      <img src="iphone.webp" alt="preview-iphone">
    </div>

    <a routerLink="catalog/iphone" class="infos-card">
      <h2>Iphone</h2>
      <span>Ver modelos</span>
    </a>
  </div>

  <div class="card">
    <div class="c-img">
      <img src="xiaomi.webp" alt="preview-xiaomi">
    </div>

    <a routerLink="/catalog/xiaomi" class="infos-card">
      <h2>Xiaomi</h2>
      <span>Ver modelos</span>
    </a>
  </div>

  <div class="card">
    <div class="c-img">
      <img src="realme.webp" alt="preview-outros">
    </div>

    <a routerLink="/catalog/outros" class="infos-card">
      <h2>Outros</h2>
      <span>Ver modelos</span>
    </a>
  </div>

  <div class="card">
    <div class="c-img">
      <img src="acessorios.webp" alt="preview-acessorios">
    </div>

    <a routerLink="/catalog/acessorios" class="infos-card">
      <h2>Acessórios</h2>
      <span>Ver modelos</span>
    </a>
  </div>
  
</section>