<section class="about-us">
  <div class="background"></div>
  <h1>Quem somos</h1>
  <p>Com mais de 5 anos de experiência no mercado, nossa loja se consolidou como uma referência quando o assunto é qualidade no atendimento e excelência em serviços de assistência técnica e vendas de celulares. Nossa loja se orgulha de ser uma das mais confiáveis e respeitadas da região.    
  </p>

  <p>Oferecemos desde consertos de celulares com problemas técnicos diversos até a venda de aparelhos novos e acessórios de última geração, sempre prezando pela satisfação e confiança de quem nos escolhe.
  </p>

  <p>Estamos prontos para atender vocês com o carinho e respeito que merecem!
  </p>
</section>