<section class="social-networks">
  <div class="social-networks_responsive">
    <a href="https://api.whatsapp.com/send?phone=5585987953880&text=Ol%C3%A1%20PedroCell,%20gostaria%20de%20fazer%20um%20or%C3%A7amento!%20%F0%9F%98%83" target="_blank" class="social-card whatsapp-card">
      <div class="c-img">
        <img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="icone-whtasapp">
  
      </div>
  
      <div class="infos-card">
        <h2>Faça seu orçamento</h2>
        <p>Adquira agora mesmo seu aparelho aqui pela nossa loja</p>
      </div>
  
    </a>
    
    <a href="https://g.co/kgs/AJM4eMq" target="_blank" class="social-card others-card">
      <div class="c-img">
        <img src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt="icone-google">
      </div>
  
      <div class="infos-card">
        <span>Avaliações e Feedbacks</span>
      </div>
    </a>
    
    <a href="https://www.google.com.br/maps/place/Pedro+Cell+Assist%C3%AAncia+T%C3%A9cnica/@-3.8822167,-38.6241854,17z/data=!3m1!4b1!4m6!3m5!1s0x41253b622ab58ab1:0xe5d9e64af0ebcae8!8m2!3d-3.8822221!4d-38.6216105!16s%2Fg%2F11sfj30pqm?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="social-card others-card">
      <div class="c-img">
        <img src="https://img.icons8.com/?size=100&id=DcygmpZqBEd9&format=png&color=000000" alt="icone-google-maps">
      </div>
  
      <div class="infos-card">
        <span>Como chegar a nossa loja</span>
      </div>
    </a>
  </div>
</section>