.social-networks{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .6rem;
  padding: 2rem 1rem;
  margin: auto;
  
  .social-card{
    background-color: #fff;
    height: 280px;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;

    .c-img{
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: 110px;
      }
    }

    .infos-card{
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      text-align: center;

      h2, span{
        font-family: spaceGrotesk-bold;
        font-size: 20px;
        color: black;
      }

      p{
        color: #24B0E8;
        font-family: spaceGrotesk-regular;
        font-size: 20px;
      }
    }
  }

  .whatsapp-card{
    grid-column: 1/3;
  }

}

@media (min-width: 375px) {
  .social-networks{
    .social-card{
      padding: 10px;
    }
  }
}

@media (min-width: 768px) {
  .social-networks{
    max-width: 768px;

    padding: 2rem 2rem;
    gap: 1rem;
    .social-card{
      padding: 20px;

      .c-img{
        img{
          width: 125px;
        }
      }

      .infos-card{
        h2, span, p{
          font-size: 24px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .social-networks{
    gap: 1rem;
    max-width: 1024px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .whatsapp-card{
      grid-column: 1/3;
    }
  
  }
}