@font-face {
  font-family: spaceGrotesk-light;
  src: url(/fonts/SpaceGrotesk-Light.ttf) format("truetype"),
}

@font-face {
  font-family: spaceGrotesk-regular;
  src: url(/fonts/SpaceGrotesk-Regular.ttf) format("truetype"),
}

@font-face {
  font-family: spaceGrotesk-medium;
  src: url(/fonts/SpaceGrotesk-Medium.ttf) format("truetype"),
}

@font-face {
  font-family: spaceGrotesk-bold;
  src: url(/fonts/SpaceGrotesk-Bold.ttf) format("truetype"),
}

@font-face {
  font-family: zen-dots;
  src: url(/fonts/ZenDots-Regular.ttf);
}

$main-color: #0D0E36;