@import url(../../../_variables.scss);

.c-catalog{
  
  .title-catalog{
    margin: 2rem 0;
    width: 100%;

    div{
      background-color: #2B2B2B;
      width: 300px;
      height: 75px;
      border-radius: 0px 50px 50px 0px;
      color: #fff;
      font-family: zen-dots;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
    }
  }

  .items{
    padding: .6rem;
    margin: auto;
    display: flex;
    flex-direction: column;

    .btn-home{
      width: 60px;
      width: 60px;
      background-color: #fff;
      border-radius: 10px;
      padding: 8px;
      box-shadow: 0px 0px 8px #0000006c;
      margin-bottom: 1rem;
    }

    .card-items{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

}

@media (min-width: 600px) {
  .c-catalog{
    .items{
      max-width: 700px;
    }
  }
}

@media (min-width: 768px) {
  .c-catalog{

    .title-catalog{

      div{
        width: 400px;
        height: 100px;
        font-size: 28px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .c-catalog{
    .items{
      max-width: 900px;
    }
  }
}