@import url(../../../_variables.scss);

.c-catalog{
  
  .title-catalog{
    margin: 2rem 0;
    width: 100%;

    div{
      background-color: #FF6900;
      width: 300px;
      height: 75px;
      border-radius: 0px 50px 50px 0px;
      color: #fff;
      font-family: zen-dots;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
    }
  }

  .items{
    padding: .6rem;

    .btn-home{
      width: 60px;
      width: 60px;
      background-color: #fff;
      border-radius: 10px;
      padding: 8px;
      box-shadow: 0px 0px 8px #0000006c;
    }
  }

}

@media (min-width: 768px) {
  .c-catalog{

    .title-catalog{

      div{
        width: 400px;
        height: 100px;
        font-size: 28px;
      }
    }
  }
}